opensmile-3.0.2-windows-x86_64
.idea/
.ipynb_checkpoints
unsloth_compiled_cache
finetune/outputs
lora_model
*cache*
*checkpoint*
project_package
test
.vscode
outputs
output
*.wav
*.mp3
*.mp4
*.flac
*.ogg
my_personal_key.*