# 数据处理
pandas  # 数据处理库
numpy  # 科学计算库

# 音频处理
librosa  # 音频处理库
pydub  # 音频操作库
moviepy  # 视频处理库

# 语音识别和处理
funasr  # 语音识别库
pyannote.audio  # 语音处理库

# Jupyter Notebook
jupyter  # Jupyter Notebook 开发工具

aliyun-python-sdk-facebody==2.0.14
aliyun-python-sdk-core

oss2
aliyun-python-sdk-viapiutils
viapi-utils

tf-keras